@import services._
@(postList: Seq[Post])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                @postList.map { post =>
                    <tr>
                        <td>@post.name</td>
                    </tr>
                }
                </tbody>
            </table>
            <a href="/todo/new">register menu</a>
        </section>
    </body>
</html>